<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <script src="/static/js/htmx.min.js"></script>
    <title>Roman Numeral Converter</title>
  </head>
  <body>
    <main class="main">
      <h1>Roman Numeral Converter</h1>
      <div
        id="tabs"
        hx-target="#tabs"
        hx-swap="innerHTML"
        class="tab-container"
      >
        {% include 'decimal.html' %}
      </div>
    </main>
  </body>
</html>
